<!-- <!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Foodfy</title>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="home">
          <a href="/">
            <img src="/images/logo.png" alt="Logomarca Foodfy" />
          </a>
        </div>
        <div class="menu">
          <a href="/sobre">Sobre</a>
          <a href="/receitas">Receitas</a>
        </div>
      </div>
    </header> -->
    
    <!-- Nunjucks permite a criação de um bloco com conteúdo variável que substitui de forma dinâmica extendendo a outras partes (o nome do bloco - ¨content¨ - pode ser qualquer um) -->
    <!-- {% block content %}
    {% endblock %}

    <footer>
      <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>
  </body>
</html> -->
