<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Foodfy</title>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="home">
          <a href="/"
            ><img src="/images/logo.png" alt="Logomarca Foodfy"
          /></a>
        </div>
        <div class="menu">
          <a href="/sobre">Sobre</a>
          <a href="/receitas" style="font-weight: bold;">Receitas</a>
        </div>
      </div>
    </header>
    <section class="grid-fotos-receitas">
      <!-- ============= PRATOS =============== -->

      <div class="pratoR" id="burger">
        <div class="foto-prato-receitas">
          <img src="/images/burger.png" alt="Burger" />
        </div>
        <h3 class="nomePrato">Triplo bacon burger</h3>
        <p class="nomeChef">por Jorge Relato</p>
      </div>

      <div class="pratoR" id="pizza">
        <div class="foto-prato-receitas">
          <img src="/images/pizza.png" alt="Pizza" />
        </div>
        <h3 class="nomePrato">Pizza 4 estações</h3>
        <p class="nomeChef">por Fabiana Melo</p>
      </div>

      <div class="pratoR" id="espaguete">
        <div class="foto-prato-receitas">
          <img src="/images/espaguete.png" alt="Spaghetti" />
        </div>
        <h3 class="nomePrato">Espaguete ao alho</h3>
        <p class="nomeChef">por Júlia Kinoto</p>
      </div>

      <div class="pratoR" id="lasanha">
        <div class="foto-prato-receitas">
          <img src="/images/lasanha.png" alt="Lasangna with cheese" />
        </div>
        <h3 class="nomePrato">Lasanha mac n' cheese</h3>
        <p class="nomeChef">por Juliano Vieira</p>
      </div>

      <div class="pratoR" id="doce">
        <div class="foto-prato-receitas">
          <img src="/images/doce.png" alt="Sweet bread" />
        </div>
        <h3 class="nomePrato">Docinhos pão-do-céu</h3>
        <p class="nomeChef">por Ricardo Golvea</p>
      </div>

      <div class="pratoR" id="asinhas">
        <div class="foto-prato-receitas">
          <img src="/images/asinhas.png" alt="Chicken wings with barbecue" />
        </div>
        <h3 class="nomePrato">Asinhas de frango ao barbecue</h3>
        <p class="nomeChef">por Vania Steroski</p>
      </div>

      <div class="pratoR" id="burger">
        <div class="foto-prato-receitas">
          <img src="/images/burger.png" alt="Burger" />
        </div>
        <h3 class="nomePrato">Triplo bacon burger</h3>
        <p class="nomeChef">por Jorge Relato</p>
      </div>

      <div class="pratoR" id="pizza">
        <div class="foto-prato-receitas">
          <img src="/images/pizza.png" alt="Pizza" />
        </div>
        <h3 class="nomePrato">Pizza 4 estações</h3>
        <p class="nomeChef">por Fabiana Melo</p>
      </div>

      <div class="pratoR" id="espaguete">
        <div class="foto-prato-receitas">
          <img src="/images/espaguete.png" alt="Spaghetti" />
        </div>
        <h3 class="nomePrato">Espaguete ao alho</h3>
        <p class="nomeChef">por Júlia Kinoto</p>
      </div>

      <div class="pratoR" id="lasanha">
        <div class="foto-prato-receitas">
          <img src="/images/lasanha.png" alt="Lasangna with cheese" />
        </div>
        <h3 class="nomePrato">Lasanha mac n' cheese</h3>
        <p class="nomeChef">por Juliano Vieira</p>
      </div>

      <div class="pratoR" id="doce">
        <div class="foto-prato-receitas">
          <img src="/images/doce.png" alt="Sweet bread" />
        </div>
        <h3 class="nomePrato">Docinhos pão-do-céu</h3>
        <p class="nomeChef">por Ricardo Golvea</p>
      </div>

      <div class="pratoR" id="asinhas">
        <div class="foto-prato-receitas">
          <img src="/images/asinhas.png" alt="Chicken wings with barbecue" />
        </div>
        <h3 class="nomePrato">Asinhas de frango ao barbecue</h3>
        <p class="nomeChef">por Vania Steroski</p>
      </div>
    </section>
    <!-- ======== END PRATOS =========== -->

    <!--  =======    Start ModalOverlay    =====-->

    <div class="modalOverlay">
      <div class="modal">
        <a class="close-modal">
          <span class="material-icons">close</span>
        </a>
        <div class="content">
          <img src="" />
          <h3 class="nomePrato"></h3>
          <p class="nomeChef"></p>
        </div>
      </div>
    </div>
    <!--  =======    End ModalOverlay    =======-->

    <footer>
      <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
